<style type="text/css">
    .ya_kassa_installments_button_container{
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }
    .yamoney-pay-button {
        display: inline-block;
        position: relative;
        height: 60px;
        width: 155px;
        font-family: YandexSansTextApp-Regular, Arial, Helvetica, sans-serif;
        text-align: center;
        border-radius: 3px;
    }

    .yamoney-pay-button button{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        transition: 0.1s ease-out 0s;
        color: #000;
        box-sizing: border-box;
        outline: 0;
        border: 0;
        background: #FFDB4D;
        cursor: pointer;
        font-size: 12px;
    }

    .yamoney-pay-button button:hover, .yamoney-pay-button button:active {
        background: #f2c200;
    }

    .yamoney-pay-button button span {
        display: block;
        font-size: 20px;
        line-height: 20px;
    }

    .yamoney-pay-button_type_fly {
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.12), 0 5px 10px -3px rgba(0, 0, 0, 0.3);
    }

    .default_submit_wrap{
        padding-top: 40px;
    }
</style>
{if isset($p2p) && $p2p}
[`Выберите метод оплаты`]
<form id="paymentForm" action="{$form_url}" method="post">
    {if waRequest::cookie('_csrf', '') != ''}
        {$wa->csrf()}
    {/if}
    <input type="hidden" name="action" value="p2p">
    <table class="radio" style="width: 50%;margin: 25px auto;">
        <tbody>
        <tr class="highlight">
            <td><input type="radio" name="payment-type" value="wallet" checked="" id="ym1"></td>
            <td><label for="ym1">[`Яндекс.Деньги`]</label></td>
        </tr>
        <tr class="highlight">
            <td><input type="radio" name="payment-type" value="card" id="ym2"></td>
            <td><label for="ym2">[`Банковские карты`]</label></td>
        </tr>
        </tbody>
    </table>
    <input id="paymentFormSubmit" type="submit" value="[`Оплатить заказ на сайте Яндекс.Денег`]"/>
</form>
{/if}
{if $kassa}
<form id="paymentFormKassa" action="" method="post">
    {if waRequest::cookie('_csrf', '') != ''}
        {$wa->csrf()}
    {/if}
    {if $inside}
    [`Выберите метод оплаты`]
    <table class="radio" style="width: 50%;margin: 25px auto;">
        <br>
        {if isset($errors)}
            {foreach $errors as $error}
            <div style="color: #ff1029;">
                {$error}
            </div>
            {/foreach}
        {/if}
        <tbody>
        {if $wallet}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="PC"></td>
            <td><label for="ym1">[`Яндекс.Деньги`]</label></td>
        </tr>
        {/if}
        {if $card}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="AC"></td>
            <td><label for="ym2">[`Банковские карты — Visa, Mastercard и Maestro, «Мир»`]</label></td>
        </tr>
        {/if}
        {if $terminal}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="GP"></td>
            <td><label for="ym3">[`Наличные`]</label></td>
        </tr>
        {/if}
        {if $wm}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="WM"></td>
            <td><label for="ym5">[`WebMoney.`]</label></td>
        </tr>
        {/if}
        {if $sber}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="SB"></td>
            <td><label for="ym6">[`Сбербанк Онлайн`]</label></td>
        </tr>
        {/if}
        {if $alfa}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="AB"></td>
            <td>
                <label for="ym7">[`Альфа-Клик`]</label>
                <div class="alfabank-data" style="display: none">
                    <div>
                        <label for="alfabank_login" style="color: #837f7f;">Укажите логин, и мы выставим счет в
                            Альфа-Клике. После этого останется подтвердить платеж на сайте интернет-банка.</label>
                    </div>
                    <input name="alfabank_login" type="text">
                </div>
            </td>
        </tr>
        {/if}
        {if $qw}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="QW" id="ym10"></td>
            <td>
                <label for="ym10">[`QIWI Wallet`]</label>
                <div class="qiwi-data" style="display: none">
                    <div>
                        <label for="qiwi_phone" style="color: #837f7f;">Телефон, который привязан к Qiwi Wallet.</label>
                    </div>
                    <input name="qiwi_phone" type="text">
                </div>
            </td>
        </tr>
        {/if}
        {if $installments}
        <tr class="highlight">
            <td><input type="radio" name="paymentType" value="installments" id="ym_installments"></td>
            <td><label for="ym_installments">[`Заплатить по частям`]</label></td>
        </tr>
        {/if}
        </tbody>
    </table>
    <input id="paymentFormSubmit" type="submit" value="[`Оплатить заказ на сайте Яндекс.Денег`]"/>
    {else}
    <br/>
    <br/>
        <input type="hidden" name="paymentType" value="" id="paymentType">
</form>
        {if !$paylogo && !$installments_button}
            <i class="icon16 loading"></i>
            <em>Перенаправление на сайт «Яндекс.Денег» для оплаты...</em>
        {else}
            {if $installments_button}
                <div class="ya_kassa_installments_button_container"></div>
            {/if}
            {if $paylogo}
                <div id="button-confirm" class="yamoney-pay-button {if !$installments_button}yamoney-pay-button_type_fly{/if}">
                    <button type="submit">[`<span>Заплатить</span>через Яндекс`]</button>
                </div>
            {else}
                <div class="default_submit_wrap">
                    <input id="button-confirm" type="submit" value="[`Оплатить заказ на сайте Яндекс.Денег`]"/>
                </div>
            {/if}
        {/if}
    <br/>
    <br/>
    {/if}
<script src="https://static.yandex.net/kassa/pay-in-parts/ui/v1/"></script>
<script>
    $(document).ready(function () {
        $('input[name="paymentType"]').first().attr('checked', true);
        $('#button-confirm').click(function () {
            $('#paymentFormKassa').submit();
        });

        {if !$inside && !$paylogo && !$installments_button}
        setTimeout(function () {
            $('#paymentFormKassa').submit();
        }, 3000);
        {/if}

        $('input[name="paymentType"]').change(function (e) {
            var element = $(this),
                val = element.val(),
                qiwiWrapper = $('.qiwi-data'),
                alfaWrapper = $('.alfabank-data');

            if (val == 'AB') {
                alfaWrapper.show();
            } else {
                alfaWrapper.hide();
            }

            if (val == 'QW') {
                qiwiWrapper.show();
            } else {
                qiwiWrapper.hide();
            }
        });
        jQuery.get("https://money.yandex.ru/credit/order/ajax/credit-pre-schedule?shopId="
            + {$shop_id} + "&sum=" + {$amount}, function (data) {
            const ym_installments_amount_text = "ru";
            if (ym_installments_amount_text && data && data.amount) {
                jQuery('label[for=ym_installments]').append(" (%s ₽ в месяц)".replace('%s', data.amount));
            }
        });

        {if $installments_button}
            function createCheckoutCreditUI() {
                if (!YandexCheckoutCreditUI) {
                    setTimeout(createCheckoutCreditUI, 200);
                }
                const checkoutCreditUI = YandexCheckoutCreditUI({
                    shopId: {$shop_id},
                    sum: {$amount},
                    language: "ru"
                });
                const checkoutCreditButton = checkoutCreditUI({
                    type: 'button',
                    domSelector: '.ya_kassa_installments_button_container'
                });
                checkoutCreditButton.on('click', function () {
                    jQuery('#paymentType').val("installments");
                    jQuery('#paymentFormKassa').submit();
                });
            }
            setTimeout(createCheckoutCreditUI, 200);
        {/if}
    });
</script>
{/if}
